[submodule "external/lammpstrj"]
	path = external/lammpstrj-parser
	url = https://github.com/kaityo256/lammpstrj-parser
[submodule "external/cxxopts"]
	path = external/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
